body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: #fffbfb;
}

/* Wrapper for top spacing */
.nav-wrapper {
  padding: 30px 0px 50px 0px;
}

/* Rounded nav container */
.navbar {
  background-color: #24273a;
  border-radius: 14px;
  height: 70px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 0 25px;
}


.nav-left {
  justify-self: start;
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-center {
  justify-self: center;
  display: flex;
  gap: 25px;
}

.nav-right {
  justify-self: end;
}


.avatar {
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

.logo-text {
  font-size: 18px;
  font-weight: 500;
}



/* Pills */
.pill {
  text-decoration: none;
  color: #fffbfb;
  background-color: #313244;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.2s ease;
}

.pill:hover {
  color: #24273a;
  background-color: #b8c0e0;
}

/* Active pill */
.pill.active {
  background-color: #939ab7;
  color: #181926;
}